<%- include('../partials/html-head')  %> 
<%- include('../partials/nav')  %>   

<main>
  <h1><%= title %> </h1>
  <% if (user) { %>
  <form action="/goals" method="POST">
    <label>Age:
      <input type="number" name="age">
    </label><br>
    <label>Height(in):
      <input type="input" name="height">
    </label><br>
    <label>Weight(lbs):
      <input type="number" name="weight">
    </label><br>
    <label>Goal:
      <select name="userGoal">
        <option value="" selected></option>
        <option value="Gain Weight">Gain Weight</option>
        <option value="Lose Weight">Lose Weight</option>
        <option value="Maintain Weight">Maintain Weight</option>
      </select>
    </label><br>
  
</form>
    <table>
      <thead>
        <tr>
          <th>Age</th>
          <th>Height(in)</th>
          <th>Weight(lbs)</th>
          <th>Goal</th>
        </tr>
      </thead>
      <tbody>
        <% goals.forEach(goal => { %>
          <tr>
            <td><%= goal.age %></td>
            <td><%= goal.height %></td>
            <td><%= goal.weight %></td>
            <td><%= goal.userGoal %></td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  <% } %>
</main>














<%- include('../partials/footer') %>