<%- include('../partials/html-head')  %> 
<%- include('../partials/nav')  %>   

<main>
  <h1><%= title %> </h1>
  <% if (user) { %>
  <form action="/profile" method="POST">
    <label>Gender:
      <select name="gender">
        <option value="" selected></option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    </label><br>
    <label>Age:
      <input type="number" name="age">
    </label><br>
    <label>Height(in):
      <input type="input" name="height">
    </label><br>
  
</form>
    <table>
      <thead>
        <tr>
          <th>Gender</th>
          <th>Age</th>
          <th>Height(in)</th>
        </tr>
      </thead>
      <tbody>
        <% profiles.forEach(profile => { %>
          <tr>
            <td><%= profile.gender %></td>
            <td><%= profile.age %></td>
            <td><%= profile.height %></td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  <% } %>
</main>














<%- include('../partials/footer') %>