<%- include('../partials/html-head')  %> 
<link rel="stylesheet" href="/stylesheets/workouts/index.css" />
<%- include('../partials/nav')  %>   

<main>
<h1><%= title %> </h1>
  <table id="list">
    <thead>
      <tr>
        <th>Date</th>
        <th>Duration(min)</th>
        <th>Type</th>
        <th>AvgHR</th>
        <th>Cals-Burned</th>
      </tr>
    </thead>
    <tbody>
      <% workouts.forEach(workout => { %>
        <tr>
          <td><%= new Date(workout.date).toLocaleDateString('en-US', {day: 'numeric', month:'numeric', year: 'numeric'}) %></td>
          <td><%= workout.duration %></td>
          <td><%= workout.method %></td>
          <td><%= workout.avgHr %></td>
          <td><%= workout.calsBurned %></td>
          <td><a href="/workouts/<%= workout._id %>">Details</a></td>
          <td><form action="/workouts/<%= workout._id %>?_method=DELETE" method="POST">
            <button class="btn" type="submit">X</button>
          </form></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>


<%- include('../partials/footer') %>