<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <% if (user?.profile.avatar) { %>
    <h2>Welcome, <%= user.profile.name %></h2>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } else { %>
    <h3>You must be logged in to access this app</h3>
    <a href="/auth/google" class="siwg-link">
      <button type="submit" class="siwg">
        <img id="siwg-image" alt="Sign in with Google" />
      </button>
    </a>
  <% } %>
</main>

<%- include('./partials/footer') %>
