<%- include('../partials/html-head')  %> 
<%- include('../partials/nav')  %>   

<main>
  <h1><%= title %> </h1>
  <% if (profiles.length < 1) { %>
    <table>
      <thead>
        <tr>
          <th>Gender</th>
          <th>Age</th>
          <th>Height(in)</th>
        </tr>
      </thead>
      <tbody>
        <% profiles.forEach(profile => { %>
          <tr>
            <td><%= profile.gender %></td>
            <td><%= profile.age %></td>
            <td><%= profile.height %></td>
            <td><a href="/profiles/<%= profile._id %>">Goals</a></td>
          </tr>
          <% }) %>
      </tbody>
    </table>
    <% } else { %>
      <h2>No Profile Found</h2>
      <a 
      href="/profiles/new" <%- title === 'Create Profile' ? 'class="active"' : '' %>
    >Create Profile</a>
  <% } %>
</main>














<%- include('../partials/footer') %>