<%- include('../partials/html-head')  %> 
<link rel="stylesheet" href="/stylesheets/myprofiles/index.css" />
<%- include('../partials/nav')  %>   

<main>
  <% if (myprofiles.length ) { %>
    <h1><%= title %> </h1>
    <table>
      <thead>
        <tr>
          <th>Gender</th>
          <th>Age</th>
          <th>Height(in)</th>
        </tr>
      </thead>
      <tbody>
        <% myprofiles.forEach(myprofile => { %>
          <tr>
            <td><%= myprofile.gender %></td>
            <td><%= myprofile.age %></td>
            <td><%= myprofile.height %></td>
          </tr>
          <div class="goals">
            <a class="goal-link" href="/myprofiles/<%= myprofile._id %>">Goals</a>
            </div>
          <% }) %>
      </tbody>
    </table>
    <% } else { %>
      <h2>No Profile Found</h2>
      <a class="createprof"
      href="/myprofiles/new">Create Profile Here</a>
  <% } %>
</main>














<%- include('../partials/footer') %>